/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 2:27:57 PM
    Author     : nkalu
*/

.logo{
    width: 300px !important;
    text-align: left !important;
    margin-left: 20px;
}
.nav-bar {
    background-color: white;
    color: black;
}
.navbar-nav > li > a{
    color: black !important;
}
.navbar-nav > .active > a {
    background-color: white !important;
}
.align-center {
    text-align: center;
}
.border-green {
    border: 1px solid greenyellow;
}
.content-wrapper {
    background-color: white !important;
}
.main-header {
    border-bottom: 1px solid #8080804d;
}