/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 2:27:57 PM
    Author     : nkalu
*/

.logo{
    width: 300px !important;
    text-align: left !important;
}
.nav-bar {
    background-color: white;
    color: black;
}
.navbar-nav > li > a{
    color: black !important;
}
.navbar-nav > .active > a {
    background-color: white !important;
}
.navbar-nav > .open > a:focus {
    background-color: #38202033 !important;
}
.align-center {
    text-align: center;
}
.border-green {
    /**border: 1px solid greenyellow;*/
}
.content-wrapper {
    background-color: white !important;
    min-height: 500px !important;
}
.main-header {
    border-bottom: 1px solid #8080804d;
}
.login-logo{
    font-size: 16px;
}
.align-right {
    text-align: right;
}
.magintop {
    text-align: center;
    margin-top: 35px;
}
.box-v2 {
    border: 1px solid #dddbdb;
    position: relative;
    border-radius: 0px !important;
    background: #ffffff;
    border-top: 1px solid #d2d6de !important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none !important;
}

#sidebar-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: relative;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li > ul > li a {
    background: #92bce01a !important;
    color: #9a4646 !important;
    padding-left: 50px;
    font-size: 12px;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 35px;
    height: 35px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 1px;
    color: #000;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

.sidebar-nav li a {
    background: #fff !important;
    color: #1a1a1a  !important;
}
.search {
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-block {
    text-align: justify;
    
}
.side-menu-content {
    margin-right: 20px;
}
.box-v2 > .box-header.with-border {
    border-bottom: 1px solid #7bc99299;
}