/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 2:27:57 PM
    Author     : nkalu
*/

.logo{
    width: 300px !important;
    text-align: left !important;
    margin-left: 20px;
}
.nav-bar {
    background-color: white;
    color: black;
}
.navbar-nav > li > a{
    color: black !important;
}
.navbar-nav > .active > a {
    background-color: white !important;
}
.align-center {
    text-align: center;
}
.border-green {
    /**border: 1px solid greenyellow;*/
}
.content-wrapper {
    background-color: white !important;
}
.main-header {
    border-bottom: 1px solid #8080804d;
}
.login-logo{
    font-size: 16px;
}
.align-right {
    text-align: right;
}
.magintop {
    text-align: center;
    margin-top: 35px;
}
.box-v2 {
    border: 1px solid #dddbdb;
    position: relative;
    border-radius: 0px !important;
    background: #ffffff;
    border-top: 1px solid #d2d6de !important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none !important;
}
.side-menu {
    font-size: 20px;
    border: 1px solid #b9b9b94d;
}
.side-menu > ul {
    list-style: none;
}

.side-menu-item:before {
    content: "+";
    margin-right: 4px;
}
side-menu-item:active {
    content: "-";
}
.side-menu-item {
    padding-bottom: 20px;
}